<% provide(:title, 'New Agency Account Requested') %>
<% provide(:description, "Get an account to be able to book local, reliable ambassadors for your events.") %>
<div class="container-fluid login">
  <div class="background">
    <div class="row">
      <div class="check-email">
        <div class="text-center hiw-icon">
          <i class="fa fa-thumbs-o-up fa-5x"></i>
        </div>
        <div class="title">
          <% provide(:title, 'Shyft') %>
          <h3>SUCCESS!</h4>
        </div>

        <div class="instructions">
          <p>Your request for an Agency account was sent!</p>
          <p>We will contact you within 24 hours to activate it.</p>
        </div>
      </div> <!-- check-email -->
    </div> <!-- row -->
  </div> <!-- background -->
</div> <!-- container -->