<% provide(:title, 'Confirmation') %>
<% provide(:description, "Your booking request was successfully sent. The ambassadors now has 24 hours to accept.") %>
<div class="container-fluid login">
  <div class="background">
    <div class="row">
      <div class="check-email">
        <div class="text-center hiw-icon">
          <i class="fa fa-thumbs-o-up fa-5x"></i>
        </div>
        <div class="title">
          <% provide(:title, 'Shyft') %>
          <h3>SUCCESS!</h4>
        </div>

        <div class="instructions">
        	<p>Your request was sent to the ambassador.</p>
					<p>They now have 24 hours to accept.</p>
        </div>
      </div> <!-- check-email -->
    </div> <!-- row -->
  </div> <!-- background -->
</div> <!-- container -->