<% provide(:title, "Why Shyft") %>
<% provide(:description, "Utilize the most powerful search tool to find reliable ambassadors in the city of your event.") %>
<div class="hiw container-fluid">
	<div class="row">
		<div class="why-background">
			<div class="layer">
			  <div class="hiw-layer">
			    <div class="how-header">
			      <div class="title">
			        <h1>Why use Shyft?</h1>
			      </div> <!-- title -->
			      <div class="subheader">
			        <h3>Simplify your booking and payment management.</h3>
			      </div> <!-- subheader -->
			    </div> <!-- how-header -->
			  </div> <!-- hiw-layer -->
			</div>
		</div> <!-- how-background -->
	</div> <!-- row -->
	<div class="content">
		<div class="col-md-4 sidebar">
			<%= render 'layouts/public/hiw' %>
		</div>
		<div class="col-md-8">
			<div class="row" id="reliable">
				<div class="panel">
					<div class="panel-body">
						<div class="col-md-8">
							<h3>Simple Booking</h3>
							<p>All ambassadors are prescreened by the Shyft team. Once they begin working events they get a reputation score. This tells you their <strong>Performance</strong>, <strong>Reviews</strong> and <strong>Timeliness</strong>.
								<p></p>
							<small class="learn-more"><a href>Learn More</a></small>
						</div>
						<div class="col-md-4 text-center hiw-icon">
							<i class="fa fa-thumbs-up fa-5x"></i>
						</div>
					</div>
				</div>
			</div>

			<div class="row" id="available">
				<div class="panel">
					<div class="panel-body">
						<div class="col-md-8">
							<h3>Local &amp; Available</h3>
							<p>Ambassadors manage their own calendar to decide when and where they want to work. </p>
							<p></p>
							<small class="learn-more"><a href>Learn More</a></small>
						</div>
						<div class="col-md-4 text-center hiw-icon">
							<i class="fa fa-calendar-o fa-5x"></i>
						</div>
					</div>
				</div>
			</div>

			<div class="row" id="payments">
				<div class="panel">
					<div class="panel-body">
						<div class="col-md-8">
							<h3>Secure Payment</h3>
							<p>Agencies pay for ambassadors with escrow before the event. Once ambassador arrives to event they geo check-in with a photo.</p> 
							<p>Once finished they check out. After event, agency reviews ambassador than decides to release payment.</p>
							<small class="learn-more"><a href>Learn More</a></small>
						</div>
						<div class="col-md-4 text-center hiw-icon">
							<i class="fa fa-lock fa-5x"></i>
						</div>
					</div>
				</div>
			</div>
			<div class="row" id="train"></div>
			<div class="row" id="event"></div>
		</div> <!-- column -->
	</div> <!-- content -->
	</div>
</div>