<div class="container-fluid login">
  <div class="row text-center">
    <div class="devise-header">
      <div class="text-center">
      </div>
    </div>
  </div>

  <div class="background row">
    <div class="login-box">
    <% flash.each do |name, msg| %>
       <%= content_tag(:div, msg, class: "alert alert-info") %>
     <% end %>

      <div class="title">
        <% provide(:title, 'Forgot password') %>
        <h4>Forgot Password</h4>
      </div>

    <%= form_for(:password_reset, url: password_resets_path) do |f| %>
      <div class="form-inputs">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
            <%= f.email_field :email, class: "form-control", placeholder: 'Email', autofocus: true, required: true %>
          </div>
        </div>
      </div>

      <div class="form-actions">
        <%= f.submit "Reset Password", class: "btn", id: "book-btn", data: { disable_with: "Sending email..." }%>
      </div>
    <% end %>
  </div>
</div>
