<div class="container-fluid login">
  <div class="background">
    <div class="row">
      <div class="check-email">
        <div class="text-center hiw-icon">
          <i class="fa fa-thumbs-o-down fa-5x"></i>
        </div>
        <div class="title">
          <h2>Booking request declined!</h2>
          <h3>Aw Shucks!</h4>
<iframe src="//giphy.com/embed/BmMU3LOfNMMeI" width="480" height="311" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
        </div>

        <div class="instructions">
        	<p>Sorry to hear you can't accept the shifts.</p>
	<p>Please login to your account and update your availability so we don't send you requests you can't accept.</p>
        </div>
      </div> <!-- check-email -->
    </div> <!-- row -->
  </div> <!-- background -->
</div> <!-- container -->
