<div class="container-fluid login">
  <div class="background">
    <div class="row">
      <div class="check-email">
        <div class="text-center hiw-icon">
          <i class="fa fa-thumbs-o-up fa-5x"></i>
        </div>
        <div class="title">
          <h2>Booking request accepted!</h2>
          <h3>SUCCESS!</h4>
        </div>

        <div class="instructions">
        	<p>You are now confirmed for these shifts.</p>
					<p>Please be sure to book the times off in your calendar and you should receive an email before the end of the day</p>
        </div>
      </div> <!-- check-email -->
    </div> <!-- row -->
  </div> <!-- background -->
</div> <!-- container -->