<div class="container-fluid new-event">
  <div class="new-event-border"></div>
  <div class="row title">
    <div id="react-start">
      <!-- <%= react_component('ShortList') %>  -->
    </div>
  </div>
</div>
</script>