<div class="row">
	<div class="how-background">
	  <div class="hiw-layer">
	    <div class="how-header">
	      <div class="title">
	        <h1>Hire Ambassadors</h1>
	      </div> <!-- title -->
	      <div class="subheader">
	        <h3>Learn how to get reliable ambassadors for your event</h3>
	      </div> <!-- subheader -->
	    </div> <!-- how-header -->
	  </div> <!-- hiw-layer -->
	</div> <!-- how-background -->
</div> <!-- row -->