<div class="container-fluid">
	<div class="legal-layout">
		<div class="col-lg-3 sidebar">
			<%= render 'layouts/public/legal' %>
		</div>
		<div class="col-lg-9 main">
			<div class="content">
				<h1>Cancellation Policy</h1>
				
				<h3>Extenuating Circumstances for Company Cancellations</h3>
				<p>
				In the rare instance where extenuating circumstances arise, a company may need to cancel a confirmed booking. In such cases, we may elect to forgo the cancellation penalties outlined in our Terms of Service. Such cases will be contingent on proper documentation, where valid, and include:


				<li>Natural disaster in the country</li>
				<li>Political unrest in the country</li> </p>

				
				<h3>Extenuating Circumstances for Ambassador Cancellations</h3>
				<p>
				In the rare instance where extenuating circumstances arise, a ambassador may need to cancel a confirmed booking. In this instance, Shyft may override the companies cancellation policy and make refund decisions. Such cases will be contingent on proper documentation, where valid, and include:

				<li>There's a death in the Ambassador's family</li>
				<li>The Ambassador has a serious illness or there's a serious illness in their family</li>
				<li>There's a natural disaster in the destination country</li>
				<li>There's political unrest in the destination country</li>
				<li>The Ambasador has jury duty or other similar civil obligations</li>

				<h3>CONTENT</h3>

				<p>
				Copyright 2015. Shyft Inc. All rights reserved. Shyft Inc. 590 Madison Avenue 21st Floor Manhattan, New York, 10022 United States.
				</p>
			</div> <!-- content -->
		</div> <!-- column -->
	</div> <!-- legal-layout -->
</div> <!-- container -->
<%= render 'layouts/public/questions' %>