<div class="container-fluid">
	<div class="legal-layout">
		<div class="col-lg-3 sidebar">
			<%= render 'layouts/public/legal' %>
		</div>
		<div class="col-lg-9 main">
			<div class="content">
				<h1>Event Rules</h1>
				<h4>OWNERSHIP OF SITE; AGREEMENT TO TERMS OF USE</h4>
				<p>
				These Terms and Conditions of Use (the “Terms of Use”) apply to the Shyft Staff web site located at www.shyftstaff.com, its affiliated businesses and Shyft sites around the world (collectively, the “Site”). The Site is the property of Shyft Staff Inc. (“Shyft”) and its licensors.

				<h3>CONTENT</h3>

				<p>
				Copyright 2015. Shyft Inc. All rights reserved. Shyft Inc. 590 Madison Avenue 21st Floor Manhattan, New York, 10022 United States.
				</p>
			</div> <!-- content -->
		</div> <!-- column -->
	</div> <!-- legal-layout -->
</div> <!-- container -->
<%= render 'layouts/public/questions' %>