<div class="container-fluid">
	<div class="legal-layout">
		<div class="col-lg-3 sidebar">
			<%= render 'layouts/public/legal' %>
		</div>
		<div class="col-lg-9 main">
			<div class="content">
				<h1>Company Refund Policy</h1>
				
				<p>
				Ambassadors on the shyft's platform should meet minimum quality standards regarding timeliness, work ethic, and they should be consistent with the description provided by the Event History section on ambassadors profile page.</p>

				<p>Shyft will (at our discretion) provide the Company with a refund if there is an Ambassador Issue. The amount of any refund will depend on the nature and depth of the Ambassador Issue.</p>

				<p>A valid 'Event Issue' generally falls into three categories, (1) the Ambassador cancels a reservation 24 hours or less before the scheduled start of the event, (2)the description of the Ambassador is materially different from the actual Ambassador (such as the Ambassadors skills, or abilities), or (3) the Ambassador breaks any local laws.</p>

				<p>To submit a valid claim for a refund, a Company is required (a) to bring the Ambassador Issue to our attention within 24 hours after the end of your reservation (including photographs or other evidence) and respond to our requests for information or cooperation, (b) not have directly or indirectly caused the Ambassador Issue and (c) to have used reasonable efforts to try to remedy the circumstances of the Ambassador Issue with the Ambassador prior to making a claim.</p>

				<p>If you still have questions regarding the policy, please contact us.</p>

				<h3>CONTENT</h3>

				<p>
				Copyright 2015. Shyft Inc. All rights reserved. Shyft Inc. 590 Madison Avenue 21st Floor Manhattan, New York, 10022 United States.
				</p>
			</div> <!-- content -->
		</div> <!-- column -->
	</div> <!-- legal-layout -->
</div> <!-- container -->
<%= render 'layouts/public/questions' %>