<div class="container-fluid login">
  <div class="background">
    <div class="row">
      <div class="check-email">
        <div class="text-center hiw-icon">
          <i class="fa fa-envelope-o fa-5x"></i>
        </div>
        <div class="title">
          <% provide(:title, 'Shyft') %>
          <h3>CHECK YOUR EMAIL</h4>
        </div>

        <div class="instructions">
          <p>Click the link in the email to activate your account and get started today!</p>
        </div>
      </div> <!-- check-email -->
    </div> <!-- row -->
  </div> <!-- background -->
</div> <!-- container -->