<div class="container-fluid login">
  <div class="background">
    <div class="row">
      <div class="check-email">
        <div class="text-center hiw-icon">
          <i class="fa fa-thumbs-o-down fa-5x"></i>
        </div>
        <div class="title">404. PAGE NOT FOUND</h2>
          <h3>Unfortunately this page does not exist :(</h4>
          		<iframe src="//giphy.com/embed/l3fQlKw0TcyXuqkqQ" width="480" height="240" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="http://giphy.com/gifs/fallontonight-jimmy-fallon-tonight-show-nbc-l3fQlKw0TcyXuqkqQ">via GIPHY</a></p>
        </div>
      </div> <!-- check-email -->
    </div> <!-- row -->
  </div> <!-- background -->
</div> <!-- container -->