<ul class="nav nav-pills nav-stacked">
  <li><%= active_link_to 'Why Shyft', why_shyft_path %></li>
  <li><%= active_link_to 'How to Hire', how_to_hire_path %></li>
  <li><%= active_link_to 'How to Get Work', how_to_work_path %></li>
</ul>