<div class="row questions-box">
  <div class="col-sm-12">
    <div class="questions text-center">
      <h1>Got Questions?</h1>
      <p>We're here to help. Check out our <%= link_to 'FAQs', how_to_work_path %>, or <%= link_to 'send us an email', root_path %></p>
    </div>
  </div>
</div>