<div class="copyright">
  <div class="row">
    <div class="col-lg-6 copyright-logo">
      <h5>Shyft Inc.</h5>
    </div> <!--  -->
    <div class="col-lg-6 copyright-text text-right">
      <ul class="nav nav-pills nav-justified copyright-link">
          &copy; 2015 Shyft Inc. All Rights Reserved. <%= link_to 'Terms', terms_of_use_path %> | <%= link_to 'Privacy', privacy_policy_path %>
      </ul>
    </div> <!-- copyright-text -->
  </div> <!-- row -->
</div> <!-- copyright -->