
<div class="footer-alt text-center row">
  <div class="alt-footer-nav">

    <div class="footer-group-nav row">
      <div class="col-sm-12">
        <p>bookings@shyftworks.com</p>
      </div> <!-- col -->
    </div> <!-- footer-group -->


    <div class="footer-group-copyright row">
      <div class="col-sm-12">
        <p><small>&copy; 2015 Shyft Inc. All Rights Reserved. <%= link_to 'Terms', terms_of_use_path %></small></p>
      </div> <!-- col -->
    </div> <!-- footer-group -->

  </div> <!-- alt-footer-nav -->
</div> <!-- footer -->